<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Send everything to Node on localhost:5000 -->
        
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:5000/{R:1}" />
                </rule>
      </rules>
    </rewrite>

    <!-- Forward client protocol info to Node (Express trust proxy uses these) -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Forwarded-Proto" value="{HTTPS}" />
      </customHeaders>
    </httpProtocol>

    <!-- WebSockets passthrough if your app uses it -->
    <webSocket enabled="true" />
  </system.webServer>
</configuration>
